

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;

}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* logo replacement */

header#site-header h1 { position:absolute; left:10px; top:10px; }
header#site-header h1 a { display:block; width:80px; height:100px; background:url(images/bird.png) top center no-repeat; text-indent:-9999px; }



head {

}


body {

}

header {
		
}


/* contact form */

	label li { display:block;}

	input, textarea li { display:block; }

/* end contact form */


a:link    {color:#2F4F4F;}
a:visited {color:#003366;}
a:hover   {color:#339999;}
a:active  {color:#339999;}

#top-nav a:link    {color:#006666;}
#top-nav a:visited {color:#339999;}
#top-nav a:hover   {color:#336600;}
#top-nav a:active  {color:#333366;}


header h1 {
	
	color:#006666;
	font-family:helvetica;

}

#site-wrapper   {
	
	margin:0 auto;

}



#site-header {
		
	position:relative;
	width:1260px;
	height:100px;
	
}

#civia {
	
	position:absolute;
	
	top:10px;
	left:90px;
	padding:10px;
	
	font-family:'CopseRegular' Helvetica sans-serif;
	font-size:2em;

}



#top-nav a {
	

}


#top-nav {

	position:absolute;
	
	left:600px;
	top:25px;
	
	height:25px;
	padding:5px;
	
}


#top-nav ul li {
	
	float:left;
	list-style: none;

}

#top-nav a {
	
	text-decoration:none;
	padding:0 10px 0 10px;

	
}

/* start highlight */

#resume-highlight-A {
	
		top:9px;
		position:absolute;
		left:190px;

		width:7px;
		background-color:#006666;
		height:10px;
}

#resume-highlight-B {
	
		top:9px;
		position:absolute;
		left:263px;

		width:7px;
		background-color:#660033;
		height:10px;
}

/* end highlight */

#content-wrapper {
	
	clear:both;
	width:1260px;
	
	margin:0 auto;
	padding:1px;
	
}


#content li {
	
	float:left;
	padding:5px;
	
	text-decoration:none;	
	font-family:Helvetica;

}

#content li h4 {
 	
	font-size:1em;
	line-height:1.25em;
	
	margin:3px 0px 0 3px;
	color:#336600;
}


h2 {
	clear:both;
	
	font-size:1.25em;
	line-height:2em;
	color:#660033;
	
	padding:25px 0 0 0;
	
	font-family:Helvetica;
	text-transform:uppercase;
	
}


a {
	
	text-decoration:none;
	
}


p {
	clear:both;

	width:500px;
	line-height:1em;
	
	font-size:1.25em;
	
}

.color {
	color:#660033;
}

nav li a {
	
	float:left;
	padding:25px 0 0 25px;
		
	font-family:Helvetica;
	margin:0 10px 0 10px;
	
}

footer li a {
 
	margin:0 10px 0 50px;
}

footer {
	
	clear:both;
		
	border-style:solid;
	border-width:1px;
	border-color:#339999;
	
	bottom:0px;

}

#paintings {
	position:absolute;
	left:615px;
	
	width:25px;
	background-color:purple;
	height:10px;
}

#recent {
	position:absolute;
	left:100px;
	
	width:25px;
	background-color:purple;
	height:10px;
}

#shaped {
	position:absolute;
	left:290px;
	
	width:30px;
	background-color:purple;
	height:10px;
}

#drawings {
	position:absolute;
	left:460px;
	
	width:25px;
	background-color:purple;
	height:10px;
}

#folio {
	position:absolute;
	left:750px;
	
	width:25px;
	background-color:purple;
	height:10px;
}

#maine {
	position:absolute;
	left:750px;
	
	width:25px;
	background-color:#990000;
	height:10px;
}


#resume li {
	
	width:300px;
	padding:25px 5px 25px 0;
	
}

#resume p {
	font-size:1em;
	line-height:1.35em;
}

#resume h2 {
	
	color:#990000;	
}

#resume li h3 {
		color:#990000;	
}

.booktitle {
	font-style:italic;
}




/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

