/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*  imageflow  */
@media screen, projection{.imageflow{overflow:hidden; position:relative; text-align:left; visibility:hidden; width:100%}.imageflow img{border:none; position:absolute; top:0px; visibility:hidden; -ms-interpolation-mode:bicubic}.imageflow p{margin:0 auto; text-align:center}.imageflow .loading{border:1px solid white; height:15px; left:50%; margin-left:-106px; padding:5px; position:relative; visibility:visible; width:200px}.imageflow .loading_bar{background:#fff; height:15px; visibility:visible; width:1%}.imageflow .navigation{z-index:10000}.imageflow .caption{font-weight:bold; position:relative; text-align:center; z-index:10001}.imageflow .scrollbar{border-bottom:1px solid #b3b3b3; position:relative; visibility:hidden; z-index:10002; height:1px}.imageflow .slider{background:url(slider.png) no-repeat; height:14px; margin:-6px 0 0 -7px; position:absolute; width:14px; z-index:10003}.imageflow .slideshow{cursor:pointer; height:14px; margin:20px 0 0 20px; position:absolute; width:14px; z-index:10003}.imageflow .slideshow.pause{background:url(button_pause.png) no-repeat}.imageflow .slideshow.play{background:url(button_play.png) no-repeat}.imageflow .images{overflow:hidden; white-space:nowrap}.imageflow .button{cursor:pointer; height:17px; position:relative; width:17px}.imageflow .previous{background:url(button_left.png) top left no-repeat; float:left; margin:-7px 0 0 -30px}.imageflow .next{background:url(button_right.png) top left no-repeat; float:right; margin:-7px -30px 0 30px}}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;

}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* logo replacement */

header#site-header h1 { position:absolute; left:10px; top:10px; }
header#site-header h1 a { display:block; width:50px; height:75px; background:url(images/bird.png) top center no-repeat; text-indent:-9999px; }


<!-- logo replacement -->


	#site-header h1 a {
	 display:block; ‚Ä®
	 width:200px; 
	 height:100px;  
	 background:url(images/window.png) no-repeat top left; 
	 text-indent:-9999px;
	 }

								/* start styling */


head {

}


body {

}

header {
		
}


/* contact form */

	label li { display:block;}

	input, textarea li { display:block; }

/* end contact form */




a:link    {color:#2F4F4F;}
a:visited {color:#003366;}
a:hover   {color:#339999;}
a:active  {color:#339999;}

#top-nav a:link    {color:#006666;}
#top-nav a:visited {color:#339999;}
#top-nav a:hover   {color:#336600;}
#top-nav a:active  {color:#333366;}


header h1 {
	
	color:#006666;
	font-family:helvetica;

}

#site-wrapper   {
	
	margin:0 auto;

}



#site-header {
		
	position:relative;
	width:1260px;
	height:100px;
	
}

#civia {
	
	position:absolute;
	
	top:10px;
	left:80px;
	padding:10px;
	
	font-family:Helvetica;
	font-size:2em;

}


#top-nav a {
	

}


#top-nav {

	position:absolute;
	
	left:800px;
	top:10px;
	
	height:25px;
	padding:5px;
	


}


#top-nav ul li {
	
	float:left;
	list-style: none;

}

#top-nav a {
	
	text-decoration:none;
	padding:0 10px 0 10px;
	
	color:black;
	
}


#content-wrapper {
	
	clear:both;
	width:1260px;
	
	margin:0 auto;
	padding:50px;

	
}




h2 {
	clear:both;
	
	font-size:1.25em;
	line-height:2em;
	color:#660033;
	
	padding:25px 0 0 0;
	
	font-family:Helvetica;
	text-transform:uppercase;
	
}


a {
	
	text-decoration:none;
	
}


p {
	clear:both;
	
	width:500px;
	line-height:1.5em;
	
	font-size:1.25em;
}

nav li a {
	
	float:left;
	padding:25px 0 0 25px;
		
	font-family:Helvetica;
	margin:0 10px 0 10px;
	
}

footer li a {
 
	margin:10px 10px 0 25px;
 

}

#resume li {
	width:300px;
	padding:0 5px 25px 0;
	
	line-height:1.35em;
}

#resume p {
	font-size:1em;
	line-height:1.35em;
}

#resume h2 {
	
	color:#990000;	
}

#resume li h3 {
		color:#990000;	
}

.booktitle {
	font-style:italic;
}



@charset "utf-8";

/* ImageFlow Settings
==================================== */
@media screen, projection {
	.imageflow {
		overflow:hidden;
		position:relative; 
		text-align:left;
		visibility:hidden;
		width:100%;
	}
	.imageflow img {
		border:none;
		position:absolute;
		top:0px;
		visibility:hidden;
		-ms-interpolation-mode:bicubic; /* Enables bicubic image resampling for the IE7 */
	}
	.imageflow p {
		margin:0 auto;
		text-align:center;
	}
	.imageflow .loading {
		border:1px solid white;
		height:15px;
		left:50%;
		margin-left:-106px;
		padding:5px;
		position:relative;
		visibility:visible;
		width:200px;
	}
	.imageflow .loading_bar {
		background:#fff;
		height:15px;
		visibility:visible;
		width:1%;
	}
	.imageflow .navigation{
		z-index:10000;
	}
	.imageflow .caption {
		font-weight:bold;
		position:relative; 
		text-align:center;
		z-index:10001;
	}
	.imageflow .scrollbar {
		border-bottom:1px solid #b3b3b3;
		position:relative; 
		visibility:hidden;
		z-index:10002;
		height:1px;
	}
	.imageflow .slider {
		background:url(slider.png) no-repeat;
		height:14px;
		margin:-6px 0 0 -7px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	.imageflow .slideshow {
		cursor:pointer;
		height:14px;
		margin:20px 0 0 20px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	.imageflow .slideshow.pause {
		background:url(button_pause.png) no-repeat;
	}
	.imageflow .slideshow.play {
		background:url(button_play.png) no-repeat;
	}
	.imageflow .images {
		overflow:hidden;
		white-space:nowrap;
	}
	.imageflow .button {
		cursor:pointer;
		height:17px;
		position:relative;
		width:17px;
	}
	.imageflow .previous {
		background: url(button_left.png) top left no-repeat;
		float:left;
		margin: -7px 0 0 -30px;
	}
	.imageflow .next {
		background: url(button_right.png) top left no-repeat;
		float:right;	
		margin:-7px -30px 0 30px;
	}
}