

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


blockquote, q {
	quotes: none;
}


blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}



	/* start styling */


body {
	
	font-family:arial;
	line-height: 1.2;
	color:gray;
	background-color:#FFCCCC;
	
	margin:10px;

}


h1 {	
	font-family:Georgia;
	font-weight:bold;
	font-style:italic;
	
	color:#7A5919;
	text-transform:uppercase;
	margin:10px;
}


h2 {
	clear:both;
	
	font-family: arial;
	text-transform:uppercase;
	color:#7A5919;
	font-style:bold;
	
	
	margin:10px;	
	width:65%;
}




li a {

	text-decoration:none;
	color:white;
	text-transform:uppercase;
}

header {
	width:1200px;
}

#site-wrapper   {

	margin:auto;
	
	width:1200px;
	height:200px;

}

/* robot logo */
#site-header   {
	position:absolute;
	width:600px;
	background-color:#FFFFCC;
}


/* top navigation  login and contact us */

#login li {
	padding:2px;

}


/* color for login text */
#login a {
	top:10%;
	
	text-decoration:none;
	color:#996633;


}


#main-nav {
	height:160px;
	width:100%;
}

#main-nav  a {
	background-color:#7A5919;
	padding:3px;
	float:left;
	
	
}

/* end menu wrapper*/

	
/* this is the article body */	
#content-wrapper {
	position:relative;
	clear:both;
	background-color:white;
	
	height:750px;
}
/* end whole article, images and aside */


p {
	width:65%;
}


article h1 {	
	font-size:2.5em;
	text-transform:none;

	
}	
	
article p {	
		padding:12px;
		line-height:1.5em;
		font-size:1em;	
}
	

aside {	
	float:right;
	width:30%;
	
}

#sidebar {

}


#sidebar a {
	text-transform:lowercase;
	color:#7A5919;
	
	font-size:.75em;

}



/*side bar text*/
ol, ul {
	padding:1px 10px 1px 1px;
	list-style: none;
	float:right;

}


img a {

}

/* end content wrapper*/


.contact-follow  h1 {
	font-family:arial;
	font-style:normal;
	font-weight:normal;
	
	color:white;
	margin:0px;
	line-height:2em;
}


footer p {
	width:25%;
	color:white;
	font-size:.75em;
	
	line-height:1.25em;
}




#footer-wrapper {
	
	height:150px;
		
	bottom:0;
	background-color:#7A5919;
	padding:10px;
		
}


footer li {
	float:left;
	color:#7A5919;	
}


.contact-follow {
	float:left;
}




/* end site wrapper*/



