

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


blockquote, q {
	quotes: none;
}


blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}



	/* start styling */


body {
	
	font-family:arial;
	line-height: 1.2;
	color:gray;
	
	margin:10px;

}


header {
	width:960px;
	height:100px;
	

}


#site-wrapper   {
	margin:0 auto;
	width:960px;
	
	background-color:#FFFFCC;

}

/* robot logo */
#site-header   {
	position:relative;
	width:960px;

	margin:0 auto;
}


/* top navigation  login and contact us */

#top-nav {
	position:absolute;
	top:10px;
	right:0px;
	
	padding:2px;
}


/* color for login text */
#top-nav a {
	
	text-decoration:none;
	color:#996633;
}


#menu-wrapper {
	position:relative;
	height:30px;
	background-color:#663300;

}


#main-menu {
	position:absolute;
	right:60px;
	width:960px;
	
	height:50px;
	padding:5px;
}


#main-menu  ul li {

	float:left;
	list-style: none;
	
}

#main-menu a {
	
	text-decoration:none;
	text-transform:uppercase;
	

	color:white;
	
	padding:0 50px 0 0;


}

/* end menu wrapper*/


#faq {
	color:olive;
}

	
/* this is the article body */	

#content-wrapper {
	width:960px;

	
}

#content {

}


#page {
	float:left;
	width:60%;

}

#page h1 {	
	font-size:4em;
	text-transform:none;	
	font-family:Georgia;
	font-weight:bold;
	font-style:italic;

	color:#7A5919;
	
	}

	
#page h2 {	
	font-size:1.5em;
	text-transform:none;
	
}
	
#page p {	
		padding:12px;
		line-height:1.5em;
		font-size:1em;	
}


article h2 {	
	font-family: arial;
	text-transform:uppercase;
	color:#7A5919;
	font-style:bold;
}


#sidebar {	
	float:right;
	width:30%;
	
	margin:0 0 5px 0;
}

#sidebar ul {

	list-style:none;	
}


#sidebar li a {
	text-transform:lowercase;
	color:#7A5919;
	text-decoration:none;
	
	font-size:1em;
}

#sidebar h1 {
	font-family:arial;
	font-size:1.25em;
	line-height:2em;
	
	color:red;
}


img {
	margin:20px 0 3px 0;
}

/* end content wrapper*/

#footer-wrapper {
	clear:both;
	background-color:#7A5919;
	position:relative;

}


#site-footer {

	width:960px;
	height:130px;
}

#footer-contact {
	position:absolute;
	width:20%;
	margin:10px 0 0 10px;
}


#footer-contact h1 {
	color:white;
	margin:10px 0 10px 0;
}


#footer-follow {
	position:absolute;
	width:30%;
	right:10px;
}



#footer-follow h1 {

	right:10px;

}

footer p {
	
	color:white;
	font-size:.75em;
	
	line-height:1.25em;
}

footer li {
	float:left;
	color:#7A5919;	
}

#footer-follow  h1 {
	font-family:arial;
	font-style:normal;
	font-weight:normal;
	
	color:white;
	margin:0px;
	line-height:2em;
}



/* end site wrapper*/



