
body {font-family:arial;}

h1 {font-weight:bold;
	}
	
	
h2 {color:gray;font-size:12;
	}

#container{
	position:relative;
 
	}

#dog {
	float:left;
	width:50%;

	}
	
	
	
#cat {
	float:right;
	width:50%;

}

