

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;

}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* logo replacement */

header#site-header h1 { position:absolute; left:10px; top:10px; }
header#site-header h1 a { display:block; width:50px; height:75px; background:url(images/bird.png) top center no-repeat; text-indent:-9999px; }


<!-- logo replacement -->


	#site-header h1 a {
	 display:block; ‚Ä®
	 width:200px; 
	 height:100px;  
	 background:url(images/window.png) no-repeat top left; 
	 text-indent:-9999px;
	 }

								/* start styling */


head {

}


body {

}

header {
		
}


/* contact form */

	label li { display:block;}

	input, textarea li { display:block; }

/* end contact form */




a:link    {color:#2F4F4F;}
a:visited {color:#003366;}
a:hover   {color:#339999;}
a:active  {color:#339999;}

#top-nav a:link    {color:#006666;}
#top-nav a:visited {color:#339999;}
#top-nav a:hover   {color:#336600;}
#top-nav a:active  {color:#333366;}


header h1 {
	
	color:#006666;
	font-family:helvetica;

}

#scontainer   {
	
	margin:0 auto;

}



#site-header {
		
	position:relative;
	width:1260px;
	height:100px;
	
}

#civia {
	
	position:absolute;
	
	top:10px;
	left:80px;
	padding:10px;
	
	font-family:Helvetica;
	font-size:2em;

}


#top-nav a {
	

}


#top-nav {

	position:absolute;
	
	left:800px;
	top:10px;
	
	height:25px;
	padding:5px;
	


}


#top-nav ul li {
	
	float:left;
	list-style: none;

}

#top-nav a {
	
	text-decoration:none;
	padding:0 10px 0 10px;
	
	color:black;
	
}


#content-wrapper {
	
	clear:both;
	width:1260px;
	
	margin:0 auto;
	padding:50px;

	
}


#content li {
	
	float:left;
	padding:5px;
	
	text-decoration:none;	
	font-family:Helvetica;

}

#content li h4 {
 	
	font-size:1em;
	line-height:1.25em;
	
	margin:3px 0px 0 3px;
	color:#336600;
}


h2 {
	clear:both;
	
	font-size:1.25em;
	line-height:2em;
	color:#660033;
	
	padding:25px 0 0 0;
	
	font-family:Helvetica;
	text-transform:uppercase;
	
}


a {
	
	text-decoration:none;
	
}


p {
	clear:both;
	
	width:500px;
	line-height:1.5em;
	
	font-size:1.25em;
}

nav li a {
	
	float:left;
	padding:25px 0 0 25px;
		
	font-family:Helvetica;
	margin:0 10px 0 10px;
	
}

footer li a {
 
	margin:10px 10px 0 25px;
 

}

#resume li {
	width:300px;
	padding:0 5px 25px 0;
	
	line-height:1.35em;
}

#resume p {
	font-size:1em;
	line-height:1.35em;
}

#resume h2 {
	
	color:#990000;	
}

#resume li h3 {
		color:#990000;	
}

.booktitle {
	font-style:italic;
}

<style type="text/css" media="screen">
 <!--slider gallery -->
     body {
         padding: 0; 
         font: 1em "Trebuchet MS", verdana, arial, sans-serif; 
         font-size: 100%;
         background-color: #212121;
         margin: 0;
     }

     h1 { 
         margin-bottom: 2px; 
     }

     #container {
         background-color: #fff;
         width: 1060px;
         margin: 15px auto;
         padding: 10px;
     }
     
     /* slider specific CSS */
     .sliderGallery {
         background: url(http://static.jqueryfordesigners.com/demo/images/productbrowser_background_20070622.jpg) no-repeat;
         overflow: hidden;
         position: relative;
         padding: 10px;
         height: 300px;
         width: 1060px;
     }
     
     .sliderGallery UL {
         position: absolute;
         list-style: none;
         overflow: none;
         white-space: nowrap;
         padding: 0;
         margin: 0;
     }
     
     .sliderGallery UL LI {
         display: inline;
     }
     
     .slider {
         width: 1060px;
         height: 17px;
         margin-top: 140px;
         margin-left: 5px;
         padding: 1px;
         position: relative;
         background: url(http://static.jqueryfordesigners.com/demo/images/productbrowser_scrollbar_20070622.png) no-repeat;
     }
     
     .handle {
         position: absolute;
         cursor: move;
         height: 17px;
         width: 1000px;
         top: 0;
         background: url(http://static.jqueryfordesigners.com/demo/images/productbrowser_scroller_20080115.png) no-repeat;
         z-index: 100;
     }
     
     .slider span {
         color: #bbb;
         font-size: 80%;
         cursor: pointer;
         position: absolute;
         z-index: 110;
         top: 3px;
     }
     
     .slider .slider-lbl1 {
         left: 50px;
     }
     
     .slider .slider-lbl2 {
         left: 107px;
     }
     
     .slider .slider-lbl3 {
         left: 156px;
     }

     .slider .slider-lbl4 {
         left: 280px;
     }

     .slider .slider-lbl5 {
         left: 455px;
     }
 <!---->
 </style>

 